# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/.nb-gradle/

# Spring Boot
.springBeans
.sts4-cache/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env